lib/TRASH/clientagent/wsdl/clientagent.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions
  name="ClientAgentService"
  targetNamespace="http://service.annot.me/"
  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
  xmlns:tns="http://service.annot.me/"
  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">

<!-- clientagent.wsdl 10/5/2011 -->

  <!-- Types -->

  <wsdl:types>
    <schema xmlns="http://www.w3.org/2001/XMLSchema">
      <import namespace="http://service.annot.me/" schemaLocation="clientagent.xsd" />
    </schema>
  </wsdl:types>

  <!-- Messages -->

  <wsdl:message name="authorize">
    <wsdl:part name="parameters" element="tns:authorize" />
  </wsdl:message>
  <wsdl:message name="authorizeResponse">
    <wsdl:part name="parameters" element="tns:authorizeResponse" />
  </wsdl:message>

  <wsdl:message name="deauthorize">
    <wsdl:part name="parameters" element="tns:deauthorize" />
  </wsdl:message>
  <wsdl:message name="deauthorizeResponse">
    <wsdl:part name="parameters" element="tns:deauthorizeResponse" />
  </wsdl:message>

  <wsdl:message name="isAuthorized">
    <wsdl:part name="parameters" element="tns:isAuthorized" />
  </wsdl:message>
  <wsdl:message name="isAuthorizedResponse">
    <wsdl:part name="parameters" element="tns:isAuthorizedResponse" />
  </wsdl:message>

  <wsdl:message name="isConnected">
    <wsdl:part name="parameters" element="tns:isConnected" />
  </wsdl:message>
  <wsdl:message name="isConnectedResponse">
    <wsdl:part name="parameters" element="tns:isConnectedResponse" />
  </wsdl:message>

  <wsdl:message name="chat">
    <wsdl:part name="parameters" element="tns:chat" />
  </wsdl:message>
  <wsdl:message name="chatResponse">
    <wsdl:part name="parameters" element="tns:chatResponse" />
  </wsdl:message>

  <!-- Port -->

  <wsdl:portType name="ClientAgent">

    <wsdl:operation name="authorize">
      <wsdl:input name="authorize" message="tns:authorize" />
      <wsdl:output name="authorizeResponse" message="tns:authorizeResponse" />
    </wsdl:operation>

    <wsdl:operation name="deauthorize">
      <wsdl:input name="deauthorize" message="tns:deauthorize" />
      <wsdl:output name="deauthorizeResponse" message="tns:deauthorizeResponse" />
    </wsdl:operation>

    <wsdl:operation name="isAuthorized">
      <wsdl:input name="isAuthorized" message="tns:isAuthorized" />
      <wsdl:output name="isAuthorizedResponse" message="tns:isAuthorizedResponse" />
    </wsdl:operation>

    <wsdl:operation name="isConnected">
      <wsdl:input name="isConnected" message="tns:isConnected" />
      <wsdl:output name="isConnectedResponse" message="tns:isConnectedResponse" />
    </wsdl:operation>

    <wsdl:operation name="chat">
      <wsdl:input name="chat" message="tns:chat" />
      <wsdl:output name="chatResponse" message="tns:chatResponse" />
    </wsdl:operation>

  </wsdl:portType>

  <!-- Binding -->

  <wsdl:binding name="ClientAgentServiceSoapBinding" type="tns:ClientAgent">

    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />

    <wsdl:operation name="authorize">
      <soap:operation soapAction="ClientAgent#authorize" style="document" />
      <wsdl:input name="authorize">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="authorizeResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>

    <wsdl:operation name="deauthorize">
      <soap:operation soapAction="ClientAgent#deauthorize" style="document" />
      <wsdl:input name="deauthorize">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="deauthorizeResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>

    <wsdl:operation name="isAuthorized">
      <soap:operation soapAction="ClientAgent#isAuthorized" style="document" />
      <wsdl:input name="isAuthorized">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="isAuthorizedResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>

    <wsdl:operation name="isConnected">
      <soap:operation soapAction="ClientAgent#isConnected" style="document" />
      <wsdl:input name="isConnected">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="isConnectedResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>

    <wsdl:operation name="chat">
      <soap:operation soapAction="ClientAgent#chat" style="document" />
      <wsdl:input name="chat">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="chatResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>

  </wsdl:binding>

  <!-- Service -->
  <wsdl:service name="ClientAgentService">
    <wsdl:port name="ClientAgentPort" binding="tns:ClientAgentServiceSoapBinding">
      <soap:address location="http://localhost:233/services/ClientAgentPort" />
    </wsdl:port>
  </wsdl:service>

</wsdl:definitions>
